<%= image_tag @image.img_file.url %>

<%= render "tags/new" %>

<% if @image.tags.any? %>
  <% @image.tags.each do |tag| %>
    <%= button_to tag.user.username, image_tag_path(tag.image, tag), class:"btn btn-success", :method =>"delete" %>
  <% end %>
<% end %>


<% if @image.user_id === current_user.id %>
  <p><%= button_to "delete image", image_path(@image), :method => "delete" %></p>
<% end %>
